html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h3,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
html{
    height:100%;
}
body{
    height: 100%;
    font-size: 14px;
    font-family: Arial,Helvetica,"Microsoft Yahei";
    color: rgb(110, 119, 129);
}
button, input {
    font-family: Arial,Helvetica,"Microsoft Yahei";
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: rgb(110, 119, 129);
}
a:hover{
    text-decoration: underline;
}

.wrapper{
    background: url('../image/bg.svg') center top repeat-x;
}
.header{
    position: fixed;
    width: 240px;
    height: 100%;
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,0.045);
    overflow-y: auto;
}
.container{
    margin-left: 240px;
    padding-bottom: 30px;
}
.inner{
    max-width: 800px;
    padding: 0 10px;
    margin: 0 auto;
}
.header::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}
.header::-webkit-scrollbar-thumb{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #888;
}
.text-green{
    color: #4bae4f!important;
}
.text-red{
    color:#f56954!important;
}
.text-blue{
    color: #2095f2!important;
}
.text-orange{
    color: #fc9000!important;
}

.mod-menu{
    height: 100%;
}
.mod-menu .bd{
    padding: 25px 0;
}
.mod-menu .bd li h3{
    height: 40px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: #f0f0f0;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.mod-menu .bd li a{
    display: block;
    position: relative;
    padding: 6px 15px;
    line-height: 18px;
    cursor: pointer;
    text-decoration: none;
}
.mod-menu .bd li span{
    display: block;
}
.mod-menu .bd span.title{bd
    font-size: 16px;
    font-weight: bold;
}
.mod-menu .bd span.subtitle{
    color: #999;
}
.mod-menu .bd a.active{
    background: #f5f5f5;
}
.mod-menu .bd a.active::before{
    position: absolute;
    left: 2px;
    top: 50%;
    content: '';
    width: 4px;
    height: 32px;
    background: #2095f2;
    margin-top: -16px;
    border-radius: 3px;
}
.mod-menu .bd a.active span.title{
    font-weight: bold;
    color: #333;
}
.mod-menu .bd a.active span.subtitle{
    font-weight: bold;
    color: #888;
}

.mod-head .bd{
    height: 36px;
    padding: 10px 0;
    text-align: right;
}
.mod-head .btn{
    position: relative;
    display: inline-block;
    min-width: 56px;
    height: 34px;
    padding: 0 12px;
    background: rgba(255,255,255,0.3);
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 6px;
    line-height: 34px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    transition: color .2s,opacity .2s;
    font-family: Tahoma,Arial, Helvetica,"Microsoft YaHei";
    outline: none;
    -webkit-appearance: none;
}
.mod-head .btn:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity .2s;
    border-radius: 6px;
    overflow: hidden;
    pointer-events: none;
}
.mod-head .btn span,.mod-head .btn svg{
    vertical-align: middle;
}
.mod-head .btn svg,.mod-head .btn svg+span{
    position: relative;
    top: -1px;
}
.mod-head .btn:hover {
    color: #000;
    opacity: 1;
}
.mod-head .btn:hover:after {
    opacity: .02;
}

.mod-panel{
    margin-bottom: 75px;
}
.mod-panel .hd{
    padding: 35px 0;
	line-height: 24px;
}
.mod-panel .hd h1{
    margin-bottom: 10px;
	line-height: 48px;
    font-weight: bold;
	font-size: 36px;
	color:#1a2b3b;
}
.mod-panel .hd h1 span.tag{
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px;
    background: rgba(255, 255, 255,0.8);
    line-height: 26px;
    vertical-align: middle;
    font-size: 13px;
    color: rgb(110, 119, 129);
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.03);
}
.mod-panel .hd p{
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 15px;
}
.mod-panel .hd b{
	margin: 0 3px;
	color: #fd7474;
}
.mod-panel .bd .box{
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.075);
}
.mod-panel .bd .c-hd{
    position: relative;
    padding: 10px 20px;
	border-bottom: 1px solid #f4f4f4;
}
.mod-panel .bd .c-hd::before{
    position: absolute;
    left: 2px;
    top: 50%;
    content: '';
    width: 4px;
    height: 36px;
    background: #2095f2;
    margin-top: -18px;
    border-radius: 3px;
}
.mod-panel .bd .c-hd p{
    line-height: 18px;
}
.mod-panel .bd .c-hd p.title{
    font-size: 16px;
    font-weight: bold;
}
.mod-panel .bd .c-hd p.subtitle{
    color: #999;
}
.mod-panel .bd .c-hd .more{
    float: right;
    text-decoration: none;
    color: #999;
}
.mod-panel .bd .c-bd{
    padding:20px;
}
.mod-panel .bd table{
    width: 100%;
    margin: 15px 0;
}
.mod-panel .bd caption{
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
}
.mod-panel .bd th,.mod-panel .bd td{
    padding: 6px 12px;
    border: 1px solid #e2e2e2;
    line-height: 22px;
}
.mod-panel .bd td.th{
    background: #f5f5f5;
}
.mod-panel .bd thead{
    background: #f5f5f5;
}
.mod-panel .bd select{
    height: 32px;
    padding: 0 10px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    outline: none;
}
.mod-panel .bd input[type="text"]{
    width: 240px;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    vertical-align: middle;
    outline: none;
}
.mod-panel .btn {
    display: inline-block;
    height: 36px;
    min-width: 90px;
    padding:0 12px;
    margin: 0 8px;
    background: #2095f2;
    border: medium none;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
}
.mod-panel .btn:hover{
	background: #1b85da;
}
.mod-panel .btn-green{
	background: #4bae4f;
	color: #fff;
}
.mod-panel .btn-green:hover{
	background: #47a04b;
}
.mod-panel .bd .btn-red{
	background: #f56954;
	color: #fff;
}
.mod-panel .btn-red:hover{
	background: #f4543c;;
}
.mod-panel .btn-orange{
	background: #ff9000;
	color: #fff;
}
.mod-panel .btn-orange:hover{
	background: #e18309;
}
.mod-panel .btn-small{
    min-width: 36px;
    margin-right: -1px;
    cursor: pointer;
}
.mod-panel .btn[disabled]{
	background: #f0f0f0;
	color: #aaa;
}
.mod-panel .bd p{
    line-height: 22px;
    word-break: break-word;
}
.mod-panel .bd p span{
    margin-right: 4px;
}

.mod-copy{
    margin-bottom: 65px;
    padding: 35px 0;
    background: rgb(246, 248, 250);
}
.mod-copy .hd{
    margin: 0 5px 5px;
    line-height: 30px;
}
.mod-copy .hd span{
    font-size: 18px;
    font-weight: bold;
    color: #646464;
}
.mod-copy .bd{
    margin:0 5px;
}
.mod-copy .bd p{
    line-height: 26px;
    text-indent: 2em;
    font-size: 15px;
}
.mod-copy .bd .buttons{
    margin: 15px 0;
}
.mod-copy .bd .text-red{
    font-weight: bold;
    color: #fd7474;
}
.mod-copy .bd code{
    display: block;
    margin-bottom: 15px;
    padding: 8px 15px;
    line-height: 20px;
    background: #fff;
    border: 1px solid rgba(27,31,36,.15);
    border-radius: 5px;
    word-break: break-word;
}

.mod-foot .bd{
    padding: 10px 0;
    margin-bottom: 15px;
    text-align: center;
}
.mod-foot .bd p{
    line-height: 22px;
}
.mod-foot .bd p a,.mod-foot .bd p span{
    vertical-align: middle;
}
.mod-foot .bd p.buttons{
    margin: 10px 0 5px;
}
.mod-foot .box{
    width: 200px;
    height: 180px;
    margin: 0 auto 20px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
}
.mod-foot p{
    line-height: 30px;
}

.mod-fixedbar .bd a{
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: block;
    width: 48px;
    height: 48px;
    background: rgba(255,255,255,0.8);
    box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
    line-height: 48px;
    text-align: center;
}

@media screen and (max-width: 1020px) {
    .header{
        display: none;
    }
    .container{
        margin-left: 0;
    }
    .inner{
        max-width: 640px;
    }

    .mod-head .hd span.tag{
        padding: 5px 8px;
    }
    .mod-head .bd .btn{
        padding: 0 6px;
        font-size: 13px;
    }

    .mod-panel{
        margin-bottom: 25px;
    }
    .mod-panel .hd{
        float: none;
        padding-top: 0;
        width: auto;
        margin-bottom: 15px;
    }
    .mod-panel .hd h1{
        margin-bottom: 5px;
        line-height: 26px;
        font-size: 20px;
    }
    .mod-panel .hd p{
        line-height: 22px;
        font-size: 13px;
        overflow: hidden;
    }

    .mod-copy{
        padding: 15px 0 25px;
        margin-bottom: 25px;
    }
    .mod-copy .bd p{
        line-height: 22px;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    .mod-panel .inner{
        padding: 10px;
    }
    .mod-panel .bd .c-bd{
        padding: 15px 10px;
    }
    .mod-panel .bd input[type="text"]{
        width: 200px;
    }
    .mod-panel .bd .btn{
        min-width: 64px;
    }
}
